.home-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: transparent;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    /* Ensure padding is included in the width */
    overflow-x: hidden;
    /* Prevent horizontal overflow */
}

.home-page .content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3rem 5rem;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    /* Ensure content does not exceed container width */
    box-sizing: border-box;
    /* Ensure padding is included in the width */
}

.home-page .content h1 {
    margin: 0;
    font-size: 3.5em;
    font-weight: 800;
    color: white;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: uppercase;
}

.home-page .content h1 span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s forwards;
}

.subtitle-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .content .subtitle {
    opacity: 0;
    font-size: 1.2em;
    color: #f0f0f0;
    margin: 20px 0 0 0;
    letter-spacing: 3px;
    animation: fadeIn 2s forwards;
    animation-delay: 1s;
    display: block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}