#combined-map {
    width: 100%;
    height: 80vh;
    max-height: 800px;
    margin: 0 auto;
    position: relative;
}

#combined-map .state.not-visited {
    fill: #d8d8d8;
}

#combined-map .state.visited {
    fill: #aec5ae;
}

.state,
.city-dot,
.high-point-dot,
.high-point-triangle,
.national-park-square {
    stroke: #fff;
    stroke-width: 1px;
}

.visited {
    fill: #4CAF50;
    cursor: pointer;
}

.not-visited {
    fill: #f44336;
}

.city-dot.top-100 {
    r: 5px;
}

.city-dot.top-200 {
    r: 3px;
}

.city-dot:hover {
    r: 7.5px;
}

.map-legend-container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 80vh;
    max-height: 800px;
}

.map-container {
    flex: 1;
    height: 100%;
}

#map-legend {
    flex: 0 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#map-legend svg {
    font-family: Arial, sans-serif;
    width: 150px;
    height: 160px;
}

.legend-item text {
    fill: #333;
    font-size: 10px;
}

.map-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.map-controls button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.map-controls button:hover {
    background-color: var(--primary-hover-color);
}

.map-controls button.inactive {
    background-color: #888;
    opacity: 0.7;
}

.map-controls button.inactive:hover {
    background-color: #999;
}


.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 200px;
    /* Add this to prevent very wide tooltips */
    width: max-content;
    /* Add this to ensure tooltip width fits content */
}

#world-map {
    width: 100%;
    height: 100%;
    min-height: 500px;
}